* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}

@font-face {
    font-family: 'kaushan-script';
    src: url(../font/kaushan-script.ttf);
   }

body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}
p {
    color: #999999; 
    font-size: 15px;
    font-family: 'Roboto';
}
h1, h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
}
h1 {
    color: white;
    font-size: 150px;
}
h2 {
    color: #333333;
    font-size: 30px;
}
h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
}
/* HEADER */
header {
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243,129,129,0.9)), url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center, center 0;
    width: 100%;
}
.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 170px;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu li {
    list-style: none;
    margin-left: 55px;
    padding-bottom: 8px;
}
.header-menu li:hover {
    border-bottom: 3px solid #fce38a;
}

.header-menu li:hover a {
    color: #fce38a;
}
.header-menu a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.logo p {
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
}
.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greeting > p {
    font-size: 72px;
    color: white;
}
.greeting .heading {
    text-align: center;
}
.greeting h1 {
    position: relative;
    text-align: center;
    line-height: 0.9;
    padding-bottom: 60px;
}
.greeting h1::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 7%;
    bottom: 0;
    left: 47%;
    background: white;
}

button {
    width: 160px;
    border: 3px solid white;
    background: transparent;
    padding: 12px 0px;
    margin-top: 50px;
    margin-bottom: 150px;
    cursor: pointer;
}
button p {
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    list-style: none;
    margin-left: 55px;
    padding-bottom: 8px;
    width: 25%;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;

}
.nav li::before, .nav li::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.nav li::before {
    height: 3px;
    width: 100%;
    background-color: #f6eac5;
}
.nav li::after {
    opacity: 0;
    height: 3px;
    width: 25%;
    background-color: #f38181;
}
.nav li:hover:after {
    width: 100%;
    transition: 1s;
    opacity: 1;
}
.nav li:hover:before {
    background-color: #fff;
}
.nav a > span {
    font-weight: 700;
}
/* ЗАГОЛОВКИ */
.heading {
    font-family: 'kaushan-script';
}
.main-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 95px;
}
.main-heading + p {
    text-align: center; 
    color: #999999; 
    margin-bottom: 100px;
}
.main-heading p{
    font-family: 'kaushan-script';
    font-size: 24px;
    color: black;
}
.main-heading h2{
    font-size: 30px;
    margin-top: 10px;
}
.heading-line {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-top: 40px;
    margin-bottom: 40px;  
}
/* КАРТИНОЧКИ */
.about-us-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card {
    height: 250px;
    width: 70%;
    position: relative;
    transition: 1s;
    margin-left: 30px;
    margin-bottom: 110px;
}
.card:first-child {
    margin-left: 0;
}
.back {
    background-color: #95e1d3;
}
.inner {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243,129,129,0.9));
}
.back, .img, .inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card:hover .img, .card:hover .inner {
    transform: translate(-10px, -10px);
    transition: 1s;
    opacity: 1;
}
.description {
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
/* СТАТИСТИКА */
.block2 {
    background-color: #95e1d3;
}
.block2 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statistics:not(.statistics:last-child) {
    border-right: 1px solid #b5eae0;
}
.statistics {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 25%;
}
.statistics p > span{ 
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 72px;
    text-align: center;
}
.statistics p{ 
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

/* MM AMAZING */
.amazing-services-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amazing-services-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
.column1 {
    border-bottom: 1px solid #e5e5e5;
}
.amazing-icon {
    padding: 25px;
}
.amazing-text > h3 {
    margin-bottom: 15px;
}
.amazing-text > p {
    display: block;
    padding-right: 20px;
}

/* UNIQUE DESIGN */
.block4 {
    background-image: url(../img/back.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.unique-phone1 {
    position: relative;
    display: flex;
    justify-content: center;
}
.unique-phone2 {
    position: absolute;
    bottom: -100px;
    right: 200px;
}

.block4 > .main-heading {
    padding-top: 70px;
}

/* ACCORD */
.block5 {
    margin-bottom: 120px;
}
.accord {
    display: flex;
    justify-content: space-between;
}
.accord-input {
    display: none;
}
.accord-text {
    border: 1px solid rgb(255, 255, 255);
    height: 0;
}
.accord-input:checked ~ .accord-text{
    transition: 1s;
    border: 1px solid #e5e5e5;
    height: 169px;
    padding: 20px;
}

.accord-content {
    overflow-y: scroll;
    height: 100%;
    padding-right: 15px;
}
.accord-label {
   border: 1px solid #e5e5e5;
   display: flex;
   position: relative;
}
.accord-label::after {
    content: "";
    display: block;
    position: absolute;
    height: 22px;
    width: 22px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 47%;
    right: 20px;
}
.accord-input:checked ~ .accord-label::after {
    transform: translateY(-50%) rotate(180deg);
    transition: 1s;
    
}
.accord-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.accord-items {
    width: 100%;
    margin-left: 30px;
}
.accord-label > img {
    padding: 15px;
    text-align: center;
}
.accord-label {
    display: flex;
    align-items: center;
}
.accord-content::-webkit-scrollbar {
    width: 5px;
    height: 100%;
}
.accord-content::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 20px;
}
.accord-content::-webkit-scrollbar-thumb {
    background-color: #95e1d3;
    border-radius: 20px;
}

/* QUOTE */
.block6 {
    background-color: #f8f8f8;
}
.quote {
    display: flex;
    align-items: center;
    margin-left: 110px;
    margin-right: 110px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.quote-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    min-width: 150px;
    border: 5px solid #95e1d3;
    margin-right: 60px;
}
.signature {
    display: flex;
    align-items: center;
}

.signature p{
    font-family: 'kaushan-script';
    font-size: 24px;
    color: black;
    margin-left: 10px;
}
.quote-text > p {
    font-family: 'Roboto';
    font-style: italic;
    font-size: 24px;
    margin-bottom: 20px;
}
.signature > .heading-line {
    margin: 0;
}
.our-team-card {
    height: 470px;
}